<!doctype html>
<html lang="en">
    <head>
      <title>{{ title }} - QR Scanning App</title>
    </head>
    <body>
        <div>QR Scanner: 
            <a href="{{ url_for('index') }}">Home</a>
            
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Student Login</a>
            <a href="{{ url_for('adminlogin') }}">Admin Login</a>
            {% else %}
                {% if current_user.editor %}
                <a href="{{ url_for('register') }}">Register</a>
                <a href="{{ url_for('adminregister') }}">Admin Register</a>
                <a href="{{ url_for('studentdelete') }}">Delete Student</a>
                <a href="{{ url_for('admindelete') }}">Delete Admin</a>
                {% else %}
                {% endif %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>

