{% extends "base.html" %}

{% block content %}
    <script>
    /*var trial = "u";
        $.ajax({
            type: 'POST',
            contentType:"application/json;charset=utf-8",
            url: "http://127.0.0.1:5000/trial",
            data: JSON.stringify(trial),
            dataType: 'json'
        });*/
        const URL = '/trial'
        const xhr = new XMLHttpRequest();
        sender = JSON.stringify("http")
        xhr.open('POST', URL);
        xhr.send(sender);
    </script>

{% endblock %}